.main {
  background: url('~@/assets/img/banner5.jpg') 0 / cover fixed;
  min-height: 100vh;
  padding: calc(50vh - 165px) 0 0;
}
.glass {
  background: hsla(0,0%,100%,.5);  
  position: relative;
  overflow: hidden;
  padding: 2em 0;
  border-radius: .3em;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
	            0 .5em 1em rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
}
.glass::before {
  content: '';
  position: absolute;
  top:0; right:0; bottom:0; left:0;
  filter: blur(5px);
  z-index: -1;
  margin: -10px;
}
.eye {
  top: 51%;
  left: 75%;
}
@media (min-width: 414px){
  .eye {
    top: 51%;
    left: 81%;
  }
}
@include mobile {
  .eye {
    top: 43%;
    left: 84%;
  }
}
@include pad {
  .eye {
    top: 43.8%;
    left: 84%;
  }
}
